<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="loom-core.switchDefintion"
            name="Open Template/JavaFile Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="loom-core.switchDefintion"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+X">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="loom-core.actionSet1"
            label="My ActionSet"
            visible="true">
         <action
               class="org.digitalsoul.loom.core.SwitchMenubarAction"
               definitionId="loom-core.switchDefintion"
               id="loom-core.switchFilesAction"
               label="Switch To Template/JavaFile"
               menubarPath="navigate/goTo/additions"
               tooltip="Switch To Template/JavaFile">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Loom"
            class="org.digitalsoul.loom.core.prefs.PreferencesPage"
            id="org.digitalsoul.loom.core.prefs.PreferencesPage"
            name="Loom">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="loom-core.objectContribution1"
            nameFilter="*.javaxxxx"
            objectClass="org.eclipse.jdt.core.IJavaElement">
         <menu
               id="loom-core.menu"
               label="Loom">
            <separator
                  name="content">
            </separator>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="org.digitalsoul.loom.core.CreateTemplateAction"
               enablesFor="1"
               id="loom-core.createTemplateAction"
               label="Create Template for this Class"
               menubarPath="loom-core.menu/content"
               style="push">
         </action>
      </objectContribution>
   </extension>

</plugin>
